<!--
  ~ Copyright (C) 2015 Pragma Securities, LLC <http://www.pragmatrading.com.com>
  -->
<!-- The default logback configuration used by the DataPlant projects -->
<configuration>

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date %level %logger{15} - %message%n%xException{10}</pattern>
    </encoder>
  </appender>

  <logger name="root" level="INFO" />
  <logger name="application" level="DEBUG" />

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>

